@model IEnumerable<string>
@{
    ViewData["Title"] = "Тест WebAPI";
}

<div class="container">
    
    <ul>
        @foreach (var value in Model)
        {
            <li>@value</li>
        }
    </ul>

</div>

