@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Loc

<section id="advertisement">
    <div class="container">
        <p>@Loc["ads"]</p>
        <img src="~/images/shop/advertisement.jpg" alt=""/>
    </div>
</section>