<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li class="active-link">
                <a asp-controller="Home" asp-action="Index"><i class="fa fa-desktop "></i>Инструменты <span class="badge">Included</span></a>
            </li>

            <li>
                <a asp-controller="Catalog" asp-action="Index"><i class="fa fa-table "></i>Каталог товаров  <span class="badge">Included</span></a>
            </li>
           
            <li>
                <a href="#"><i class="fa fa-edit "></i>Тестовая ссылка </a>
            </li>

        </ul>
    </div>

</nav>
<!-- /. NAV SIDE  -->