
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h4>Рендринг на стороне сервера</h4>

            <a class="btn btn-default"
               data-ajax="true"
               data-ajax-url="@Url.Action("GetTestView", "AjaxTest", new { id = 42, msg = "Test message!!!" })"
               data-ajax-update="#panel-server"
               data-ajax-loading="#spnner-server"
               >
                Загрузка
            </a>
            
            <span id="spnner-server" style="display: none">
                <i class="fa fa-spinner fa-spin"></i>
            </span>

            <div id="panel-server"></div>
        </div>

        <div class="col-sm-4">
            <h4>Рендринг на стороне клиента</h4>

            <a class="btn btn-default">Загрузка</a>
            
            <span id="spnner-clinet" style="display: none">
                <i class="fa fa-spinner fa-spin"></i>
            </span>

            <div id="panel-client"></div>
        </div>

        <div class="col-sm-4">
            <h4>Рендринг вручную</h4>

            <a class="btn btn-default">Загрузка</a>

            <div id="panel-js"></div>
        </div>
    </div>
</div>

