
@{
    ViewData["Title"] = "SignalRTest";
}

<div class="container">
    <h3>SignalR test chat</h3>
    
    <div>
        <div id="input-form">
            <label>User:</label>
            <input type="text" id="user" value="WebUser"/>
            <label>Message:</label>
            <input type="text" id="message"/>
            <input type="button" value="Отправить" id="send-button" class="btn btn-primary"/>
        </div>
        
        <ul id="information-block"></ul>
    </div>
</div>

@section Scripts {
    <script src="~/lib/aspnet-signalr/signalr.min.js"></script>

    <script>
        const hub_url = "/chat";

        const connection = new signalR.HubConnectionBuilder()
            .withUrl(hub_url)
            .build();

        connection.on("OutputMessage",
            (user, message) =>
            $("#information-block")
            .prepend($("<li></li>")
                .html(user + ":" + message)));

        $("#send-button").click(e => {
            const user = $("#user").val();
            const message = $("#message").val();
            connection.invoke("InputMessage", user, message);
        });

        connection.start();
    </script>
}
