@using WebStore.Infrastructure.Interfaces
@using WebStore.Infrastructure.Mapping
@using AutoMapper
@using WebStore.Domain.ViewModels
@inject IProductData ProductData
@inject IMapper Mapper
@{
    ViewData["Title"] = "Каталог товаров";
}

<partial name="Partial/_Slider"/>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <partial name="Partial/_LeftSideBar"/>
            </div>

            <div class="col-sm-9 padding-right">
                @*<partial name="Partial/_FeaturesItems" model="ProductData.GetProducts().Take(6).ToView().OrderBy(p => p.Order)"/>*@
                <partial name="Partial/_FeaturesItems" model="ProductData.GetProducts().Take(6).Select(Mapper.Map<ProductViewModel>).OrderBy(p => p.Order)"/>

                <partial name="Partial/_CategoryTab"/>
                
                <partial name="Partial/_RecomendedItems"/>
            </div>
        </div>
    </div>
</section>
