<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <!--login form-->
                    <h2>Добро пожаловать</h2>
                    <form action="#">
                        <input type="text" placeholder="Имя пользователя" />
                        <input type="password" placeholder="Пароль" />
                        <span>
                            <input type="checkbox" class="checkbox">
                            Запомнить меня
                        </span>
                        <button type="submit" class="btn btn-default">Вход</button>
                    </form>
                </div><!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">ИЛИ</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2>Зарегистрироваться</h2>
                    <form action="#">
                        <input type="text" placeholder="Имя пользователя" />
                        <input type="password" placeholder="Пароль" />
                        <input type="password" placeholder="Повторить пароль" />
                        <button type="submit" class="btn btn-default">Зарегистрироваться</button>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->
