<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Действие контроллера Home.Index</title>
</head>

<body>
    <h3>Заголовок!</h3>
    <p>Первое представление!!!</p>
</body>
</html>
