<ul class="nav navbar-nav collapse navbar-collapse">
    <li><a asp-controller="Home" asp-action="Index" class="active">Home</a></li>
    <li class="dropdown">
        <a asp-controller="Catalog" asp-action="Shop">Магазин<i class="fa fa-angle-down"></i></a>
        <ul role="menu" class="sub-menu">
            <li><a asp-controller="Catalog" asp-action="Shop">Каталог</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#">Blog<i class="fa fa-angle-down"></i></a>
        <ul role="menu" class="sub-menu">
            <li><a href="blog.html">Blog List</a></li>
            <li><a href="blog-single.html">Blog Single</a></li>
        </ul>
    </li>
    <li><a href="404.html">Error page 404</a></li>
    <li><a href="contact-us.html">Contact</a></li>
    <li><a asp-controller="Employees" asp-action="Index">Сотрудники</a></li>
</ul>